@font-face {
    font-family: Raleway;
    src: url(Raleway-Regular.ttf);
}

body {
    background-color: #ffff77;
    font-family: 'Raleway', sans-serif;
    font-size: 28px;

}

.top-row {
    height: 70vh;
    width: 100%;
    text-align: center;
}

.text-section {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -35%);
}

.bottom-row {
    height: 30vh;
}

.image-section {
    margin: 0;
    position: absolute;
    top: 75%;
    left: 71%;
    transform: translate(-50%, -15%);
    width: 50%;
}
.image-section1 {
    margin: 0;
    position: absolute;
    top: 77%;
    left: 90%;
    transform: translate(-50%, -15%);
    width: 50%;
}
.image-section2 {
    margin: 0;
    position: absolute;
    top: 77%;
    left: 45%;
    transform: translate(-50%, -15%);
    width: 50%;
}

img {
    max-height: 150px;
}

p{
    font-family: 'Raleway', sans-serif;
    font-size: 100px;
    color:Red;

}